<?xml version="1.0" encoding="utf-8"?>
<robot name="camera" xmlns:xacro="http://ros.org/wiki/xacro" >
  <link
    name="camera_link0">
    <inertial>
      <origin
        xyz="0.00232997875786055 -0.000556155071961858 -2.82983961463062E-05"
        rpy="0 0 0" />
      <mass
        value="0.015428346878935" />
      <inertia
        ixx="1.36095493821731E-05"
        ixy="2.31032732804664E-07"
        ixz="-1.31690079926083E-09"
        iyy="1.39449003709198E-06"
        iyz="-1.56865788651068E-08"
        izz="1.2847781945381E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rosorin_description/meshes/depth_camera_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rosorin_description/meshes/depth_camera_link_collision.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="depth_camera"
    type="fixed">
    <origin
      xyz="0.057373 7.9091E-05 0.091864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link0" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
