<?xml version="1.0" encoding="utf-8"?>
<robot name="camera" xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:property name="M_PI"   value="3.1415926535897931"/>
  <link
    name="depth_cam_link">
    <inertial>
      <origin
        xyz="0.00232981322860787 0.000387137406184821 -2.84059740606052E-05"
        rpy="0 0 0" />
      <mass
        value="0.015428" />
      <inertia
        ixx="1.3945E-06"
        ixy="-1.5684E-08"
        ixz="-2.3104E-07"
        iyy="1.2848E-05"
        iyz="1.3156E-09"
        izz="1.361E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rosorin_description/meshes/dabai_cam_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.753 0.753 0.753 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rosorin_description/meshes/dabai_cam_link_collision.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="depth_cam_joint"
    type="fixed">
    <origin
      xyz="0.057373 7.9091E-05 0.091864"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="depth_cam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
